.history
{
  display:grid;
  row-gap:5px;
}
.historyList
{
  max-height:250px;
  scrollbar-width: thin;
  overflow:auto;
}
.list
{
  position:relative;
  margin-top:4px;
  border:1px solid #e6e6e6;
  border-bottom:2px solid #ccc;
  width:100%;
  padding:3px 4px;
  display:flex;
  cursor:pointer;
  font-weight:500;
  animation:listanimation 0.3s ease-in-out;
  justify-content:space-between;
  background:white;
}
.listdiv
{
  flex:1;
  display:flex;
  flex-direction:row;
}
.title
{
  flex:1;
}
.borderred
{
  border-right:4px solid red;
}
.bordergreen
{
  border-right:4px solid green;
}
@keyframes listanimation
{
  from {scale:90%}
  to {scale:100%}
}
.blank
{
  color:red;
  font-size:20px;
  font-weight:light;
}
.closebtn
{
  position:absolute;
  background:red;
  top:0;
  padding:3px 10px;
  border-radius:2px;
  left:0;
}